body{
    background-color: #F2F2F2 !important;
}

.navbar{
    background-color: #F2F2F2 !important;
}

#footer{
    padding-bottom: 0 !important;
    background-color: #343a40 !important;
}

.container h1{
    width: 140%;
}

.jumbotron{
    border-radius: 0;
    padding: 10px;
    background: #007bff !important;
    color: #FFF;
}

.jumbotron h2{
    margin-bottom: -5px;
    padding-top: 10px;
    margin-top: 50px;
    padding: 10px;
    margin-left: 7%;
}

#vce{
    background-color: #000000;
    color: #FFF;
}

li a{
    text-decoration: none !important;
    color: #212529 !important;
}

a i{
    margin: 5px;
}

.navbar{
	background-color: #f1f1f1;
	border-color: #f1f1f1 !important;
}

th{
    text-decoration: none !important;
    color: #212529 !important;
}

#nc{
	width: 100% !important;
    border-radius: 3px !important;
    min-height: 40px;
    font-size: 18px;
}

#vche{
    width: 100% !important;
    border-radius: 3px !important;
    min-height: 40px;
    font-size: 18px;
}

.table{
    margin-top: 3% !important;
}

#linha1{
    width: 100% !important;
    margin-bottom: 10px;
}

#linha2{
    width: 100%;
    margin-bottom: 10px;
}

#linha3{
    width: 100%;
    margin-bottom: 10px;
}

.form-row{
    background: #FFF !important;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
#cancelar{
    background-color: #FF0000 !important;
    color: #FFF;
    width: 100%;
    font-size: 18px;   
}

#finalizar{
    width: 100%;
    font-size: 18px;
}

#novo{
    width: 50% !important;
    border-radius: 3px !important;
    min-height: 40px;
    font-size: 18px;
}

#inicio{
    width: 50% !important;
    border-radius: 3px !important;
    min-height: 40px;
    font-size: 18px;
    margin-left: 12px;
}

#voltar{
    width: 100% !important;
    border-radius: 3px !important;
    min-height: 40px;   
    font-size: 18px;
    margin-left: 12px;
}

.modal-header{
    background: #28a745 !important;
    margin-top: 30px;  
    border-radius: 0 !important;
}

#titulo-modal{
    color: #FFF !important;
}

#dt{
    background: #FF8000 !important;
    color: #FFF;
    width: 100% !important;
    border-radius: 3px !important;
    min-height: 40px;  
}

#dt1{
    background: #FF8000 !important;
    color: #FFF;
    width: 50% !important;
}


#enc{
    width: 100% !important;
    margin-left: 40px !important;
}

#at{
    width: 100% !important;
}

#modal-depende{
    background: #FF8000 !important;
    color: #FFF;
    border-radius: 0 !important;
}

#ag{
    background-color: #FF0000 !important;
    color: #FFF;
    width: 50% !important; 
}
#modal-encerra{
    background: #343a40 !important;   
}

#en{
    width: 50% !important;
}

#bt-at{
    width: 50% !important;   
}

#tbd{
    background: #FFF !important;
}