body{
    background-color: #E6E6E6 !important;
}

.navbar{
    background-color: #E6E6E6 !important;
}

#footer{
    padding-bottom: 0 !important;
    background-color: #343A40 !important;
}

.container h1{
    width: 140%;
}

.jumbotron{
    border-radius: 0;
    padding: 10px;
    background: #007BFF !important;
    color: #FFF;
}

.jumbotron h2{
    margin-bottom: -5px;
    padding-top: 10px;
    margin-top: 50px;
    padding: 10px;
    margin-left: 7%;
}

li a{
    text-decoration: none !important;
    color: #212529 !important;
}

a i{
    margin: 5px;
}

.navbar{
	background-color: #F1F1F1;
	border-color: #F1F1F1 !important;
}

th{
    text-decoration: none !important;
    color: #212529 !important;
}

.table{
    margin-top: 3% !important;
}

.form-row{
    background: #FFF !important;
    border-radius: 5px !important;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-primary{
    width: 100% !important; 
}

.btn-dark{
    width: 100% !important;
}

.btn-success{
    width: 100% !important;
}

.btn-danger{
    width: 100% !important;
}

#btnNovo{
    width: 50% !important;
    border-radius: 3px !important;
    min-height: 40px;
}

#btnInicio{
    width: 50% !important;
    border-radius: 3px !important;
    min-height: 40px;
    margin-left: 12px;
}

#btnVoltar{
    width: 100% !important;
    border-radius: 3px !important;
    min-height: 40px;   
    margin-left: 12px;
}

.modal-header{
    background: #28A745 !important;
    margin-top: 30px;  
    border-radius: 0 !important;
}

#titulo-modal{
    color: #FFF !important;
}

#dt{
    background: #FF8000 !important;
    color: #FFF;
    width: 100% !important;
    border-radius: 3px !important;
    min-height: 40px;  
   
}

#dt1{
    background: #FF8000 !important;
    color: #FFF;
    width: 50% !important;
}

#btnDepende{
    width: 100% !important;
    background: #FF8000 !important;
    color: #FFF !important;
    border: #FF8000 !important;
}

#btnAguarda{
    background: #FF8000 !important;
    color: #FFF;
    width: 50% !important; 
}

#modal-encerra{
    background: #343A40 !important;   
}

#modal-depende{
    background: #FF8000 !important;
    color: #FFF;
    border-radius: 0 !important;
}

#btnEncerra{
    width: 50% !important;
}

#btnAtender{
    width: 50% !important;   
}

#tBody{
    background: #FFF !important;
}

#btnCancelar{
    width: 50% !important;
    background: #DC3545 !important;
    color: #FFF;
}
